body{font:15px/1.5 Arial,Helvetica,Sans-serif;padding:0;margin:0;outline: 0;background: #f4f4f4;}
.container{width:80%;margin: auto;overflow:hidden;}
ul{margin: 0;padding: 0;}
.button-1{height: 38px;border:0;color:#fff;background: #e8491d;}
.dark{padding:14px;background: #35424a;color:#fff;margin-top:20px;margin-bottom: 20px;}
/*Header*/
header{background: #35424a;color:#ffffff;padding-top:30px;min-height: 70px;border-bottom: 3px solid #e8491d; }
header a{color:#ffffff;text-decoration: none;text-transform: uppercase;}
header #branding{float:left; }
header #branding h1{margin:0;}
.highlight,.current a{color:#e8491d;font-weight: bold;}
header a:hover{color:#cccccc;font-weight: bold;}
header nav{float:right;}
header li{float: left;display: inline-block;padding:0px 20px 0px 20px;margin-top:10px;}

/*Showcase*/
#showcase{min-height: 400px;background: url('../img/showcase.jpg')no-repeat 0 -400px;text-align: center;color:#ffffff;}
#showcase h1{margin-top:100px;margin-bottom: 20px;font-size: 55px;}
#showcase p{font-size:20px;}

/*newsletter*/
#newsletter{padding:15px;color:#fff;background:#35424a;}
#newsletter h1{float:left;}
#newsletter form{float:right;margin-top:20px;}
#newsletter form input[type='email']{padding:4px;height:25px;width:250px;}

/*Boxes*/
#boxes{margin-top: 20px;}
#boxes .box{float:left;width:30%;padding:10px;}
#boxes .box img{width:90px;}

/*for about page*/
/*main*/
#main{text-align:justify;}
article#main-col{width:65%;float: left;}
aside#sidebar{width:30%;float:right;}
/*services*/
ul#services li{list-style: none;padding: 20px;border: 1px solid #cccccc;margin-bottom: 5px;background: #e6e6e6;}
aside#sidebar input,aside#sidebar textarea{width: 90%;padding: 5px;}
/*footer*/
footer{padding:20px;text-align: center;margin-top: 20px;background: #e8491d;color:#fff;}

/*Media Query*/
@media(max-width:768px){
	header #branding,header nav{
		float: none;
		text-align: center;
		width: 100%;
	}
	#newsletter h1,#newsletter form,#boxes .box,#main #main-col,#main #sidebar{float:none;width:100%;text-align: center;}
	#newsletter form input[type='submit'],#newsletter form input[type='email']{width:100%;margin-bottom:10px;}
}